<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olympics</title>
</head>
<h1>Database for Olympics</h1>
    <p>Athlete Name</p>
    <form action="/name_search" method="post">
        <input type='text'  name='name'>
        <button type='submit'>search</button>
    </form>
    <br>
    <br>
	<table border="1" >
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Sex</th>
            <th>Height</th>
            <th>Weight</th>
			<th>Detail</th> 
        </tr>
        {% for row in data: %}
            <tr>
                <td width="100">{{row[0]}}  </td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>
					<form action="/individual_page" method="post">
						<input type='hidden' name='ID' value = {{row[0]}}>
						<button type='submit'>more</button>
					</form>
				</td>
            </tr>
        {% endfor %}
    </table>
	<br>
	<form action="/">
		<input type="submit" value="back">
	</form>
</html>